{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{% block title %}WheatTown Engineering Portal{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'core/css/site.css' %}">
</head>
<body>
  <header class="site-header">
  	<div class="top-line">
  		<h1>WheatTown Engineering Portal</h1>
	</div>

	{% if user.is_authenticated %}
	<nav class="middle-line">
    		<a href="{% url 'workorders:list' %}">Work Orders</a>
		<a href="#">Customers</a>
		<a href="#">Invoices</a>
	</nav>

	<div class="bottom-line">
		<form method="post" action="{% url 'logout' %}">
 			{% csrf_token %}
			<button class="logout-btn">Logout</button>
		</form>
	</div>
	{% endif %}
  </header>

  <main class="container">
    {% block content %}{% endblock %}
  </main>
  <footer class="site-footer">
    <small>&copy; WheatTown Engineering</small>
  </footer>
</body>
</html>
